.newTodo input {
    width: 550px;
    min-height: 40px;
    padding-left: 20px;
    border: 1px solid #e6e6e6;
    outline:none;
}

input::-webkit-input-placeholder {
    color: gray;
    font-style: italic;
    font-size: 18px;
}

input:hover::-webkit-input-placeholder {
    opacity: 50%
}